<div class="block" id="block-text">
	<div class="content">
		<h2 class="title">Search Results</h2>
		<div class="inner">
			<div class="content">
				<div class="inner">
					<ul class="list">
						<% @results.each do |result| %>
						<li>
							<div class="left">
								<a href="http://t.sina.com.cn/<%= result.weibo_user.original_id %>">	<%= image_tag(result.weibo_user.profile_img_url, :class => "avatar" ) %></a>
								<br />
							</div>
							<div class="item">
								<p>
									<a href="http://t.sina.com.cn/<%= result.weibo_user.original_id %>"> <%= result.weibo_user.screen_name %> </a>:
									<span class="first"><%= result.text %></span>
								</p>
								<% if result.thumbnail_pic_url %>
								<div class="sidebar-block">
									<%= link_to image_tag(result.thumbnail_pic_url ), result.original_pic_url %>
								</div>
								<% end %>
								<% if result.retweeted_id != 0 %>
								<form class="form">
									<div class="group navform wat-cf">
										<p>
											<a href="http://t.sina.com.cn/<%= result.retweeted_weibo.weibo_user.original_id %>"> <%= result.retweeted_weibo.weibo_user.screen_name %> </a>:
											<span class="first"><%= result.retweeted_weibo.text %></span>
										</p>
										<% if result.retweeted_weibo.thumbnail_pic_url %>
										<div class="sidebar-block">
											<%= link_to image_tag(result.retweeted_weibo.thumbnail_pic_url ), result.retweeted_weibo.original_pic_url %>
										</div>
										<% end %>
										<p>
											<span class="gray"><%= DateTime.parse( result.retweeted_weibo.original_create_at).strftime('%Y-%m-%d %H:%M:%S') %></span>
										</p>
									</div>
								</form>
								<% end %>
								<p>
									<span class="gray"><%= DateTime.parse( result.original_create_at).strftime('%Y-%m-%d %H:%M:%S') %></span>
								</p>
							</div>
						</li>
						<hr />
						<% end %>
					</ul>
					<div class="actions-bar wat-cf">
						<div class="actions">
						</div>
						<%= will_paginate @results, :previous_label => '<<', :next_label => '>>' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
