<h1>Listing users</h1>

<table>
  <tr>
    <th>Original</th>
    <th>Screen name</th>
    <th>Profile img url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.original_id %></td>
    <td><%= user.screen_name %></td>
    <td><%= user.profile_img_url %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
