<%= form_for(@weibo_user) do |f| %>
  <% if @weibo_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weibo_user.errors.count, "error") %> prohibited this weibo_user from being saved:</h2>

      <ul>
      <% @weibo_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_id %><br />
    <%= f.text_field :original_id %>
  </div>
  <div class="field">
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </div>
  <div class="field">
    <%= f.label :profile_img_url %><br />
    <%= f.text_field :profile_img_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
