<%= form_for(@count) do |f| %>
  <% if @count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@count.errors.count, "error") %> prohibited this count from being saved:</h2>

      <ul>
      <% @count.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weibo_info_id %><br />
    <%= f.text_field :weibo_info_id %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :reposts %><br />
    <%= f.text_field :reposts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
