<h1>Listing counts</h1>

<table>
  <tr>
    <th>Weibo info</th>
    <th>Comments</th>
    <th>Reposts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @counts.each do |count| %>
  <tr>
    <td><%= count.weibo_id %></td>
    <td><%= count.comments %></td>
    <td><%= count.reposts %></td>
    <td><%= link_to 'Show', count %></td>
    <td><%= link_to 'Edit', edit_count_path(count) %></td>
    <td><%= link_to 'Destroy', count, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Count', new_count_path %>
