<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Parent:</b>
  <% if Category.find_by_id(@category.parent_id) %>
    <%= Category.find_by_id(@category.parent_id).name %>
  <% else %>
    None
  <% end %>
</p>

<table>
  <tr>
    <th>Weibo</th>
    <th>Text</th>
    <th>Original create at</th>
    <th>Thumbnail pic url</th>
    <th>Original pic url</th>
    <th>Weibo user</th>
    <th>Retweeted</th>
    <th>Quantity</th>
    <th></th>
  </tr>

<% @quantities.each do |weibo_info| %>
  <tr>
    <td><%= weibo_info[0].weibo_id %></td>
    <td><%= weibo_info[0].text %></td>
    <td><%= weibo_info[0].original_create_at %></td>
    <td><%= weibo_info[0].thumbnail_pic_url %></td>
    <td><%= weibo_info[0].original_pic_url %></td>
    <td><%= weibo_info[0].weibo_user_id %></td>
    <td><%= weibo_info[0].retweeted_id %></td>
    <td><%= weibo_info[1] %></td>
    
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
