<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", weibo_infos_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_weibo_info_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> WeiboInfos</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID/Image</th>
                    <th>
            <%= t("activerecord.attributes.weibo_info.text", :default => t("activerecord.labels.text", :default => "Text")) %>
          </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @weibo_infos.each do |weibo_info| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
          	<% if weibo_info.thumbnail_pic_url %>
          	  <%= link_to image_tag(weibo_info.thumbnail_pic_url, :class => "avatar" ), weibo_info %>
          	<% else %>
          	  <%= link_to weibo_info.weibo_id, weibo_info_path(weibo_info) %>
          	<% end %>
          </td>
          <td>
          	<%= weibo_info.text %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", weibo_info_path(weibo_info) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_weibo_info_path(weibo_info) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", weibo_info_path(weibo_info), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @categories, :previous_label => '<<', :next_label => '>>' %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
